@(user : UserAccount, roles : Array[models.security.Roles])

@import helper._
@import play.i18n._

@main(Messages.get("editUser.title")) {
	<h1>@Messages.get("editUser.h1") @user.getNickname()</h1>
	
	@form(routes.Administration.confirmEditUser()) {
		<input type="hidden" name="id" value="@user.getId()" />
		@Messages.get("editUser.form.nickname") : <input type="text" name="nickname" value="@user.getNickname()" /><br />
		@Messages.get("editUser.form.firstname") : <input type="text" name="firstname" value="@user.getFirstname()" /><br />
		@Messages.get("editUser.form.lastname") : <input type="text" name="lastname" value="@user.getLastname()" /><br />
		@Messages.get("editUser.form.email") : <input type="text" name="email" value="@user.getEmail()" /><br />
		@Messages.get("editUser.form.roles") : 
		<select name="role">
		
			@for(r <- roles) {
				@if(user.getRoles().contains(r)) {
					<option value="@r" selected="selected">@r.name()</option>
				} else {
					<option value="@r">@r.name()</option>
				}
			}
		</select><br />
		
		
		<br />
		<input type="submit" value="@Messages.get("editUser.form.submit")" />
	}
}