@import play.i18n._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(Messages.get("index.title")) {

	<h1>Play 2 Auth</h1>

	<p>@(Messages.get("index.welcome"))</p>
	
	@subjectNotPresent() {
		<p><a href="/login">@(Messages.get("index.link.connect"))</a></p>
		<p><a href="/register">@(Messages.get("index.link.register"))</a></p>
	}
	
	@subjectPresent() {
		<p><a href="/admin">@(Messages.get("index.link.admin"))</a>
		<p><a href="/profile">@(Messages.get("index.link.myProfile"))</a></p>
	}

}