@(lform: Form[models.forms.LoginForm])

@import helper._
@import play.i18n._


@main(Messages.get("login.title")) {

	<h1>@(Messages.get("login.h1"))</h1>
	
	<p>@(Messages.get("login.info")) :</p>
	
		@helper.form(action = routes.Application.checkLoginInfos(), 'class -> "form-horizontal") {
			<div class="form-group">
				<label for=="inputNickname" class="col-lg-2 control-label">@(Messages.get("login.nickname")) :</label>
				<div class="col-lg-10">
					<input type="text" name="nickname" id="inputNickname" class="form-control" />
				</div>
			</div>
			
			<div class="form-group">
				<label for==""inputPassword"" class="col-lg-2 control-label">@(Messages.get("login.password")) :</label>
				<div class="col-lg-10">
					<input type="password" name="password" id="inputPassword" class="form-control" />
				</div>
			</div>
			
			 <div class="form-group">
	    		<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" value="@(Messages.get("login.button.submit"))" class="btn btn-primary btn-lg btn-block" />
				</div>
			</div>
			
			<p>@(Messages.get("login.button.register.info")) <a href="/register/query">@Messages.get("login.button.register")</a></p>
			<p><a href="/recovery">@(Messages.get("login.button.recovery"))</a></p>
		}

}