@(lform: Form[models.forms.LoginForm])

@import helper._
@import play.i18n._


@main(Messages.get("login.title")) {

	<h1>@(Messages.get("login.h1"))</h1>
	
	<p>@(Messages.get("login.info")) :</p>
	
	@helper.form(action = routes.Application.checkLoginInfos()) {
		@(Messages.get("login.nickname")) : <br />
		<input type="text" name="nickname" /><br /><br />
		@(Messages.get("login.password")) :<br />
		<input type="password" name="password" /><br /><br />
		<input type="submit" value="@(Messages.get("login.button.submit"))" />
		
		<p>@(Messages.get("login.button.register.info")) <a href="/register">@Messages.get("login.button.register")</a></p>
		<p><a href="/recovery">@(Messages.get("login.button.recovery"))</a></p>
	}

}