@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div class="navbar navbar-inverse navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
          			<a class="brand" href="@routes.Application.index()">PEA</a>
          			<div class="nav-collapse collapse">
          				<div class="navbar-form pull-right">
          					<ul class="nav">
          					@if(session.get("nickname") == null) {
          						<li><a href="@routes.Application.login()"> Login </a></li>
          						} else {
          							<li><a href="@routes.UserProfile.index()"> @session.get("nickname") </a></li>
          							<li><a href="@routes.UserProfile.seeUserPossession(session.get("nickname"))"> Mes Possessions </a></li>
          							<li><a href="@routes.Application.logout()"> Logout </a></li>
          							}
          					</ul>
          				</div>
          			</div>
        		</div>
      		</div>
    	</div>
    	<div class="container">
        	@content
		</div>
		
		<div id="footer">
			<div class="container">
				<p>Petits Emprunts Entre Amis &copy;</p>
				<p>Fait par Natoine et Arihy</p>
			</div>
		</div>
	</body>
</html>
