@(exemplaries: List[Exemplary], exemplaryForm: Form[Exemplary])

@import helper._

@main("Vos Possessions") {
	<h1> Mes Possessions </h1>
	<h3>Déclarer une possession</h3>
	@form(routes.UserProfile.newPossession()) {
		@select(exemplaryForm("thing.id"), options(Thing.options()), '_default -> "--- Choose a thing ---", '_label -> "Votre possession :")
		<input type="submit" value="Ajouter">
	}
	<h3>Liste des possessions déclarées</h3>
	@if(exemplaries.size() > 0) {
		<ul>
			@for((exemplary, i) <- exemplaries.zipWithIndex) {
				@if(i%2 == 0) {
					<li class="alt block">
				} else {
					<li class="block">
				}
				@exemplary.getThing().getLabel() : @exemplary.getThing().getDescription()
			}
		</ul>
	} else {
		<h4> Aucune possession n'est déclarée </h4>
	}
	
}