@(uaForm: Form[models.forms.RegistrationForm])

@import helper._
@import play.i18n._

@main(Messages.get("register.title")) {

	<h1>@(Messages.get("register.h1"))</h1>
	
	@form(routes.RegistrationController.process()) {
	
		@Messages.get("register.form.nickname") : <br /><input type="text" name="nickname" /><br /><br />
		@Messages.get("register.form.firstname") : <br /><input type="text" name="firstname" /><br /><br />
		@Messages.get("register.form.lastname") : <br /><input type="text" name="lastname" /><br /><br />
		@Messages.get("register.form.email") : <br /><input type="text" name="email" /><br /><br />
		@Messages.get("register.form.password") : <br /><input type="password" name="password" /><br /><br />
		@Messages.get("register.form.password.verify") : <br /><input type="password" name="passwordRepeat" /><br /><br />

     	<input type="submit" value="@(Messages.get("register.button.submit"))">
  
  }
	
}