@(form: Form[UserAccount])

@import helper._

@main("Subscription") {

	@if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
	}
            
	@if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
	}

	@form(routes.Application.createAccount()) {
		@inputText(userAccountForm("nickname"), '_label -> "Pseudo")
		@inputText(userAccountForm("email"), '_label -> "Email")
		@inputText(userAccountForm("password"), '_label -> "Password")
	}
}
