@(borrows: List[Borrow])

@main(session.get("nickname")) {
	<h1>Bonjour <a href="@routes.UserProfile.index()">@session.get("nickname")</a></h1>
	
	<h2>Déclarer un nouvel emprunt : </h2>
	<form>
	<label>Qui ?</label>
	<input type="text" name="borrower" />
	
	<label>Quoi ?</label>
	<input type="text" name="exemplary" />
	
	<label>A qui ?</label>
	<input type="text" name="owner" />
	<button class="btn-add-borrow"> Ajouter </button>
	</form>
	
	@if(borrows.size()>0) {
		<h2>Récapitulatif de vos emprunts :</h2>
		<ul>
		@for((borrow, i) <- borrows.zipWithIndex) {
			@if(i%2 == 0) {
				<li class="alt block">
			} else {
				<li class="block">
			}
			@borrow.getStartingDate() : @borrow.getBorrower().getNickname() a emprunté @borrow.getExemplary().getThing().getLabel() à @borrow.getExemplary().getOwner().getNickname()
		}
		</ul>
	} else {
	<h2>Aucun emprunt en cours.</h2>
	}
}